html,
body {
  margin: 0;
}
body {
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
}

.wrapper {
  width: 1200px;
  display: flex;
  margin: 0 auto;
  background-color: white;
}
.main {
  display: flex;
  flex-flow: column;
  width: 85%;
}
.menu {
  width: 15%;
  background-color: #1975a6;
  padding: 10px 20px 0px;
  font-size: 20px;
}
.header {
  background-color: #89afc4;
  min-height: 150px;
  text-align: center;
}
.content {
  background-color: white;
  min-height: 300px;
  padding: 20px;
}
.footer {
  background-color: #89afc4;
  min-height: 150px;
}
#header-principal img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#texto-principal {
  text-align: center;
}
#header-sobre img {
  display: inline-block;
  margin: 10px;
}
#content-sobre {
  text-align: justify;
}
#content-contato {
  width: 100%;
}
#content-contato h2,
h3 {
  color: #1975a6;
}
#contato {
  clear: both;
  text-align: center;
}
.maps {
  margin: auto;
  text-align: center;
}
.maps p {
  text-align: left;
  margin-left: 20px;
}
#map1 {
  float: left;
  width: 50%;
}
#map2 {
  float: right;
  width: 50%;
}
table {
  margin-left: auto;
  margin-right: auto;
}
table th,
td {
  padding: 5px;
}
table tr:nth-child(even) {
  background-color: #ccdde5;
}
.menu ul {
  color: white;
}
.menu li {
  margin-bottom: 5px;
}
a:link,
a:visited {
  color: #ccdde5;
  text-decoration: none;
}
#redes-sociais {
  margin-left: 15px;
}
hr {
  border: 1px solid #ccdde5;
}
#responsavel-copyright {
  width: 100%;
  color: white;
}
#resp-tecnico {
  float: left;
  width: 60%;
  margin-left: 10px;
}
#copyright {
  float: right;
  margin-right: 10px;
}
